SCWebClient/SCWebClient/App_WebReferences/SCService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SkillsCrafter.SCProxy" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SkillsCrafter.SCProxy" minOccurs="0" name="actionContext" nillable="true" type="q1:ActionContext" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SkillsCrafter.SCProxy" minOccurs="0" name="actionContext" nillable="true" type="q2:ActionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSkillsDefinitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SkillsCrafter.SCProxy" minOccurs="0" name="actionContext" nillable="true" type="q3:ActionContext" />
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSkillsDefinitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getSkillsDefinitionsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SkillsCrafter.SCProxy" minOccurs="0" name="actionContext" nillable="true" type="q4:ActionContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>